@import "./reset.css";
@import "tailwindcss";

#root{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    font-family: 'Open Sans', sans-serif;
}
@theme {
    --shadow-sm: 0px 2px 4px rgba(0, 0, 0, 0.10);
    --shadow-md: 0px 4px 8px rgba(0, 0, 0, 0.10);
    --shadow-lg: 0px 4px 8px rgba(0, 0, 0, 0.15);

}
.content-wrapper{
    @apply max-w-[1200px] !w-full mx-8;
}