@import "./reset.css";
@import "tailwindcss";

#root{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
@theme {
    --shadow: rgba(5, 5, 5, 0.06);
    --font-main: 'Poppins', sans-serif;
}
.content-wrapper{
    @apply max-w-[1200px] !w-full mx-8;
}